body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(assets/images/retratos/1.png)
            url(assets/images/retratos/2.png)
            url(assets/images/retratos/3.png)
            url(assets/images/retratos/4.png)
            url(assets/images/retratos/5.png)
            url(assets/images/retratos/6.png)
            url(assets/images/retratos/7.png)
            url(assets/images/retratos/8.png)
            url(assets/images/retratos/9.png)
            url(assets/images/retratos/preview/1.png)
            url(assets/images/retratos/preview/2.png)
            url(assets/images/retratos/preview/3.png)
            url(assets/images/retratos/preview/4.png)
            url(assets/images/retratos/preview/5.png)
            url(assets/images/retratos/preview/6.png)
            url(assets/images/retratos/preview/7.png)
            url(assets/images/retratos/preview/8.png)
            url(assets/images/retratos/preview/9.png)
            url(assets/images/naturaleza/1.png)
            url(assets/images/naturaleza/2.png)
            url(assets/images/naturaleza/3.png)
            url(assets/images/naturaleza/4.png)
            url(assets/images/naturaleza/preview/1.png)
            url(assets/images/naturaleza/preview/2.png)
            url(assets/images/naturaleza/preview/3.png)
            url(assets/images/naturaleza/preview/4.png)
            url(assets/images/fotoproducto/1.png)
            url(assets/images/fotoproducto/2.png)
            url(assets/images/fotoproducto/preview/1.png)
            url(assets/images/fotoproducto/preview/2.png)
}