---
import ByaCollage from "../components/bya_collage.astro";
import Collage from "../components/collage.astro";
import Base from "../layouts/base.astro";

---
<Base pageTitle="Antes & después" inPage>
    <div class="flex flex-col gap-4 items-center justify-center text-white mb-4">
        <h1 class="text-3xl md:text-4xl font-medium text-c-white uppercase mb-3">Antes & después</h1>
        <ByaCollage />
    </div>
</Base>