---
import Collage from "../components/collage.astro";
import Base from "../layouts/base.astro";

---
<Base pageTitle="Retrato" inPage>
    <div class="flex flex-col gap-4 items-center justify-center text-white mb-4">
        <h1 class="text-3xl md:text-4xl font-medium text-c-white uppercase mb-3">Retrato</h1>
        <Collage name="retrato" horWidth={35} verWidth={15} />
    </div>
</Base>